name: make

on:
  push:
    tags:
      - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20

    - name: Build
      run: make -f Makefile.cross-compiles

    - name: Release
      uses: ncipollo/release-action@v1
      with:
          artifacts: "release/*"
          allowUpdates: true

    - name: ChangeRelease
      uses: dropseed/changerelease@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # optional
        tag_prefix: "v"
        changelog: CHANGELOG.md
